*{
  margin-left: auto;
  margin-right: auto;
}
.header{
  text-align: right;
  background-color: rgb(48, 48, 48);
  color: antiquewhite;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px ;

}
.type{
  text-align: right;
  flex: 1 1 auto;
  padding-right: 8px;
  padding-top: 20px;
  color: aliceblue;
  size: 8px;
  
}
img{
  padding-top: 18px;
}
.cost {
  display: flex;
  flex-direction: row-reverse;
  text-align: left;
  padding-top: 20px;
  color: rgb(145, 145, 145);
}
.arz{
  display: flex;
  flex-direction:row-reverse;
  font-size: 15px;
  color: rgb(48, 46, 51);
  border-style: solid;
  background-color: rgb(66, 66, 66);
  text-align: right;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px ;
  border-style: solid;
  border-left-style: outset;
  padding-right: 20px;
  border-radius: 6px;
}
.arz:nth-child(even){
  border-color: rgb(48, 48, 48) rgb(48, 48, 48) rgb(48, 48, 48)  rgb(234, 67, 61);
 }
 .arz:nth-child(odd){
  border-color: rgb(48, 48, 48) rgb(48, 48, 48) rgb(48, 48, 48) rgb(77, 177, 81);
  
 }
.money{
  color: aliceblue;
  background-color: #383836;
} 
img{
  height: 30px;
  width: 30px;
}
.cost-s{
  color:rgb(189, 143, 6);
  padding-right: 2px;
}